[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

selenium = "==3.12.*"
pyvirtualdisplay = "==0.2.*"
gevent = "*"


[dev-packages]



[requires]

python_version = "3.6"
